<?xml version="1.0"?>
<!--
  Protects this directory from direct access
  -->
<configuration>
  <connectionStrings>
  </connectionStrings>
  <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>